ul {
	list-style-type: none; 
}

ul li{
	display: inline-block;
}

#img2, #img3, #img4, #img5{
	display: none;
}

.swipeToLeft{
	transform: rotate(-45deg);
	opacity: 0.2;

}

.currentImg{
	transform: translate(-15px,-180px);
	z-index: 1000;
}

.swipeToRight{
	transform: rotate(45deg);
	opacity: 0.2;
}

#accueil #map_canvas { 
  height: 250px; 
  width: 300px;
} 

.img_miniat{
	height: 50px;
	width: 50px;
}